@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Apercu', sans-serif;
        font-family: 'Apercu Mono', sans-serif;
    }
    .hyperlink {
        @apply text-blue-600 underline
      }
      
      .hyperlink:visited {
        @apply text-purple-600
      }
      tbody tr:nth-child(odd){
        background-color: white;
      }
    .hyperlink-yellow{
      @apply text-yellow-500 underline
    }
  }

